RealWorldWork.py 
ImgFilterWork.py
RealWorld
ImgFilter
__pycache__
nohup.out
impl/__pycache__
_data
eigenvalues.npy
eigenvectors.npy
data/2Dgrid/processed
data/*.pt
data/
out
work.py
test.ipynb
tune
*.db
*.npy